graphviz
ipywidgets
pandas
matplotlib
scipy
seaborn
scikit-learn
fiona
rasterio
xray
sympy
shapely
astropy
psycopg2
cartopy
oceans
nco
ctd
vispy
seawater
pyepsg
folium
geopandas
mpld3
mplleaflet
oct2py
pyproj
